<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Current Date：<%= currentTime %></p>
    <p>inspector: <a href="/v1/inspector">link</a></p>
  </body>
</html>
